Repository 0xPolygon/cdk, pull requests merged in 2024-10, with the labels that each got.

#63 feat: remove data stream from sequence sender
  .github/workflows/test-resequence.yml
  aggregator/aggregator.go
  config/default.go
  sequencesender.json
  sequencesender/config.go
  sequencesender/ethtx.go
  sequencesender/rpc.go
  sequencesender/seqsendertypes/rpcbatch/rpcbatch.go
  sequencesender/sequencesender.go
  sequencesender/sequencesender_test.go
  test/config/test.config.toml
  test/config/test.kurtosis_template.toml
Labels: config

#99 feat: use config-file on CDK for kurtosis e2e tests
  .github/workflows/test-e2e.yml
  scripts/local_config
  scripts/run_template.go
  sonar-project.properties
  test/config/kurtosis-cdk-node-config.toml.template
  test/config/test.kurtosis_template.toml
  test/run-e2e.sh
Labels: ci

#102 fix: aggregator sync multi seqbatches same block
  go.mod
  go.sum
Labels: aggregator

#104 feat: adapt kurtosis cdk and fix errors
  scripts/local_config
  scripts/run_template.go
  test/config/kurtosis-cdk-node-config.toml.template
Labels: config, ci

#105 feat: Proof Cleaning
  aggregator/aggregator.go
  aggregator/interfaces.go
Labels: aggregator

#113 fix: cdk-525, if sanity check of l1infotreeupdatev2 fails, is an error and need to stop syncing
  go.mod
  go.sum
Labels: bug, aggregator

#100 test: add test for aggregator
  .gitignore
  aggregator/agglayer/agglayer_client.go
  aggregator/agglayer/agglayer_tx.go
  aggregator/aggregator.go
  aggregator/aggregator_test.go
  aggregator/config.go
  aggregator/interfaces.go
  aggregator/mocks/mock_StreamClient.go
  aggregator/mocks/mock_agglayer_client.go
  aggregator/mocks/mock_dbtx.go
  aggregator/mocks/mock_eth_tx_manager.go
  aggregator/mocks/mock_etherman.go
  aggregator/mocks/mock_prover.go
  aggregator/mocks/mock_state.go
  aggregator/mocks/mock_synchronizer.go
  aggregator/profitabilitychecker.go
  test/Makefile
Labels: aggregator

#122 feat: warning on agglayer rate limit
  aggregator/agglayer/agglayer_client.go
  aggregator/aggregator.go
Labels: aggregator

#125 test: aggregator
  aggregator/aggregator_test.go
Labels: aggregator

#121 feat: Merging config-files with variables
  cmd/main.go
  cmd/run.go
  config/config.go
  config/config_render.go
  config/config_render_test.go
  config/config_test.go
  config/default.go
  config/network.go
  go.mod
  go.sum
  test/config/kurtosis-cdk-node-config.toml.template
Labels: config

#138 feat: remove DS from aggregator
  aggregator/aggregator.go
  aggregator/aggregator_test.go
  aggregator/config.go
  aggregator/db/migrations/0004.sql
  aggregator/interfaces.go
  aggregator/mocks/mock_StreamClient.go
  aggregator/mocks/mock_rpc.go
  aggregator/mocks/mock_state.go
  config/default.go
  crates/cdk-config/src/aggregator.rs
  crates/cdk/src/config_render.rs
  go.mod
  go.sum
  rpc/batch.go
  rpc/batch_test.go
  rpc/types/rpcbatch.go
  scripts/local_config
  sequencesender.json
  sequencesender/config.go
  sequencesender/mocks/mock_etherman.go
  sequencesender/mocks/mock_ethtxmanager.go
  sequencesender/mocks/mock_rpc.go
  sequencesender/rpc_test.go
  sequencesender/sequencesender.go
  sequencesender/sequencesender_test.go
  state/datastream.go
  state/interfaces.go
  state/pgstatestorage/batch.go
  test/Makefile
  test/config/kurtosis-cdk-node-config.toml.template
  test/config/test.config.toml
Labels: config
