Repository 0xPolygon/cdk, pull requests merged in 2024-12, with the labels that each got.

#208 feat: write on database the number of retries per certificate and the certificates in a history table
  .github/workflows/test-e2e.yml
  .github/workflows/test-resequence.yml
  aggsender/aggsender.go
  aggsender/aggsender_test.go
  aggsender/config.go
  aggsender/db/aggsender_db_storage.go
  aggsender/db/aggsender_db_storage_test.go
  aggsender/db/migrations/0001.sql
  aggsender/db/migrations/migrations.go
  aggsender/types/types.go
  config/default.go
  db/migrations.go
  test/combinations/fork11-rollup.yml
  test/combinations/fork12-cdk-validium.yml
  test/combinations/fork12-pessimistic.yml
  test/combinations/fork12-rollup.yml
  test/combinations/fork9-cdk-validium.yml
Labels: config, aggsender

#217 feat: limit cert by estimated size
  aggsender/aggsender.go
  aggsender/aggsender_test.go
  aggsender/config.go
  aggsender/types/certificate_build_params.go
  config/default.go
Labels: config, aggsender

#222 fix: remove deprecated `aggsender` config fields
  aggsender/aggsender_test.go
  aggsender/config.go
  config/default.go
  test/config/kurtosis-cdk-node-config.toml.template
Labels: aggsender

#224 feat: cherry pick pr 217 and 209 from `release/v0.5.0`
  aggsender/aggsender.go
  aggsender/aggsender_test.go
  aggsender/config.go
  aggsender/types/certificate_build_params.go
  config/default.go
Labels: aggsender

#226 fix: cherry pick of PR-222 to release branch
  aggsender/aggsender_test.go
  aggsender/config.go
  config/default.go
  test/config/kurtosis-cdk-node-config.toml.template
Labels: aggsender

#234 fix: last sent certificate block underflow
  aggsender/aggsender.go
  aggsender/aggsender_test.go
Labels: aggsender

#227 feat: use the `GenericError` for all the errors originating from the agglayer
  agglayer/client_test.go
  agglayer/errors_test.go
  agglayer/proof_generation_error.go
  agglayer/proof_verification_error.go
  agglayer/testdata/proof_generation_errors/errors_with_declared_computed_data.json
  agglayer/testdata/proof_generation_errors/errors_with_token_info.json
  agglayer/testdata/proof_generation_errors/errors_without_inner_data.json
  agglayer/testdata/proof_generation_errors/invalid_imported_bridge_exit_errors.json
  agglayer/testdata/proof_generation_errors/invalid_signer_error.json
  agglayer/testdata/proof_generation_errors/random_unmarshal_errors.json
  agglayer/testdata/proof_verification_errors/errors_with_inner_data.json
  agglayer/testdata/proof_verification_errors/errors_without_inner_data.json
  agglayer/testdata/type_conversion_errors/errors_with_declared_computed_data.json
  agglayer/testdata/type_conversion_errors/errors_with_token_info.json
  agglayer/testdata/type_conversion_errors/errors_without_inner_data.json
  agglayer/testdata/type_conversion_errors/l1_info_root_incorrect_error.json
  agglayer/testdata/type_conversion_errors/nullifier_path_generation_failed_error.json
  agglayer/type_conversion_error.go
  agglayer/types.go
  agglayer/types_helpers_test.go
  agglayer/types_test.go
  crates/cdk/versions.json
Labels: aggsender

#229 fix: use hex instead of byte arrays in Certificate marshalling
  agglayer/types.go
  agglayer/types_test.go
  aggsender/types/certificate_build_params.go
Labels: aggsender, cherry-pick

#237 fix: calculate correct root for `LER` merkle proof and fix `BridgeExit` hash
  agglayer/types.go
  agglayer/types_test.go
  aggsender/aggsender.go
  aggsender/aggsender_test.go
Labels: aggsender

#236 feat: use the `GenericError` for all the errors originating from the agglayer (cherry-pick)
  agglayer/client_test.go
  agglayer/errors_test.go
  agglayer/proof_generation_error.go
  agglayer/proof_verification_error.go
  agglayer/testdata/proof_generation_errors/errors_with_declared_computed_data.json
  agglayer/testdata/proof_generation_errors/errors_with_token_info.json
  agglayer/testdata/proof_generation_errors/errors_without_inner_data.json
  agglayer/testdata/proof_generation_errors/invalid_imported_bridge_exit_errors.json
  agglayer/testdata/proof_generation_errors/invalid_signer_error.json
  agglayer/testdata/proof_generation_errors/random_unmarshal_errors.json
  agglayer/testdata/proof_verification_errors/errors_with_inner_data.json
  agglayer/testdata/proof_verification_errors/errors_without_inner_data.json
  agglayer/testdata/type_conversion_errors/errors_with_declared_computed_data.json
  agglayer/testdata/type_conversion_errors/errors_with_token_info.json
  agglayer/testdata/type_conversion_errors/errors_without_inner_data.json
  agglayer/testdata/type_conversion_errors/l1_info_root_incorrect_error.json
  agglayer/testdata/type_conversion_errors/nullifier_path_generation_failed_error.json
  agglayer/type_conversion_error.go
  agglayer/types.go
  agglayer/types_helpers_test.go
  agglayer/types_test.go
  crates/cdk/versions.json
Labels: aggsender, cherry-pick

#238 chore: minor `aggoracle` cleanups
  aggoracle/chaingersender/evm.go
  aggoracle/e2e_test.go
  aggoracle/oracle.go
  claimsponsor/e2e_test.go
  cmd/run.go
  config/default.go
  lastgersync/e2e_test.go
  test/helpers/e2e.go
  test/helpers/reorg.go
Labels: aggoracle

#246 feat: cherry picks from release for `aggsender`
  agglayer/types.go
  agglayer/types_helpers_test.go
  agglayer/types_test.go
  aggsender/aggsender.go
  aggsender/aggsender_test.go
  aggsender/block_notifier_polling.go
  aggsender/block_notifier_polling_test.go
  aggsender/db/aggsender_db_storage_test.go
  aggsender/types/certificate_build_params.go
  aggsender/types/types.go
  aggsender/types/types_test.go
  db/sqlite.go
  test/combinations/fork12-pessimistic.yml
Labels: cherry-pick

#239 feat: e2e test Pesimisstic L2 to L2 claim
  .github/workflows/test-e2e-multi_pp.yml
  Dockerfile
  Makefile
  agglayer/types.go
  agglayer/types_helpers_test.go
  agglayer/types_test.go
  aggsender/aggsender.go
  aggsender/aggsender_test.go
  aggsender/config.go
  aggsender/mocks/aggsender_interface.go
  aggsender/mocks/aggsender_storer.go
  aggsender/rpc/aggsender_rpc.go
  aggsender/rpc/aggsender_rpc_test.go
  aggsender/rpcclient/client.go
  aggsender/rpcclient/client_test.go
  aggsender/types/status.go
  aggsender/types/status_test.go
  aggsender/types/types.go
  cmd/main.go
  cmd/run.go
  common/components.go
  config/default.go
  crates/cdk/versions.json
  db/meddler.go
  go.mod
  go.sum
  sonar-project.properties
  test/Makefile
  test/bats/helpers/aggsender.bash
  test/bats/helpers/common-multi_cdk-setup.bash
  test/bats/helpers/common.bash
  test/bats/helpers/lxly-bridge.bash
  test/bats/pp-multi/bridge-l2_to_l2-e2e.bats
  test/combinations/fork12-pessimistic-multi-attach-second-cdk.yml
  test/combinations/fork12-pessimistic-multi.yml
  test/run-e2e-multi_pp.sh
  tools/aggsender_find_imported_bridge/aggsender_find_imported_bridge.go
  version.go
  version_test.go
Labels: config, ci, aggsender

#248 docs: aggoracle doc
  docs/SUMMARY.md
  docs/aggoracle.md
Labels: aggoracle

#251 feat: remove `aggoracle` component
  Makefile
  aggoracle/chaingersender/evm.go
  aggoracle/chaingersender/evm_test.go
  aggoracle/config.go
  aggoracle/e2e_test.go
  aggoracle/mocks/mock_ethtxmanager.go
  aggoracle/mocks/mock_l2germanager.go
  aggoracle/oracle.go
  bridgesync/e2e_test.go
  claimsponsor/e2e_test.go
  cmd/main.go
  cmd/run.go
  common/components.go
  config/config.go
  config/default.go
  crates/cdk/build.rs
  docs/SUMMARY.md
  docs/aggoracle.md
  docs/non_evm_integration.md
  lastgersync/e2e_test.go
  sequencesender/mocks/mock_ethtxmanager.go
  sequencesender/sequencesender.go
  test/Makefile
  test/helpers/e2e.go
  test/helpers/ethtxmanmock_e2e.go
  test/helpers/mock_ethtxmanager.go
Labels: aggoracle
