Repository 0xPolygon/cdk, pull requests merged in 2024-11, with the labels that each got.

#153 feat: update zkevm-ethtx-manager to v0.2.1
  go.mod
  go.sum
Labels: aggregator

#154 feat: calculate acc input hash locally
  agglayer/types.go
  agglayer/types_test.go
  aggregator/aggregator.go
  aggregator/aggregator_test.go
  aggsender/aggsender.go
  aggsender/aggsender_test.go
  claimsponsor/claimsponsor.go
  claimsponsor/e2e_test.go
  claimsponsor/evmclaimsponsor.go
  claimsponsor/migrations/claimsponsor0001.sql
  claimsponsor/migrations/migrations.go
  common/common.go
  common/common_test.go
  config/default.go
  go.mod
  go.sum
  l1infotree/tree.go
  l1infotree/tree_test.go
  lastgersync/e2e_test.go
  lastgersync/evmdownloader.go
  lastgersync/lastgersync.go
  lastgersync/migrations/lastgersync0001.sql
  lastgersync/migrations/migrations.go
  lastgersync/processor.go
  logerror
  rpc/bridge.go
  rpc/bridge_interfaces.go
  rpc/mocks/claim_sponsorer.go
  rpc/mocks/last_ge_rer.go
  test/config/kurtosis-cdk-node-config.toml.template
Labels: aggregator

#167 fix: acc input hash calculation
  aggregator/aggregator.go
  aggregator/aggregator_test.go
  scripts/local_config
Labels: aggregator

#165 fix: Various pessimistic proofs fixes and adaption to `kurtosis-cdk` pessimistic proof branch
  .github/workflows/test-e2e.yml
  .github/workflows/test-resequence.yml
  agglayer/client.go
  agglayer/types.go
  agglayer/types_test.go
  aggsender/aggsender.go
  aggsender/aggsender_test.go
  aggsender/config.go
  aggsender/db/aggsender_db_storage.go
  aggsender/db/aggsender_db_storage_test.go
  aggsender/mocks/mock_aggsender_storage.go
  aggsender/types/types.go
  scripts/local_config
  test/bridge-e2e.bats
  test/helpers/common-setup.bash
  test/scripts/batch_verification_monitor.sh
  test/scripts/env.sh
Labels: aggregator, config, aggsender

#175 feat: add timestamps to certificate
  aggsender/aggsender.go
  aggsender/db/aggsender_db_storage_test.go
  aggsender/db/migrations/0001.sql
  aggsender/types/types.go
Labels: aggsender

#176 fix: local configuration bumping kurtosis to 0.2.29
  .github/workflows/test-e2e.yml
  scripts/local_config
  test/combinations/fork11-rollup.yml
  test/combinations/fork12-cdk-validium.yml
  test/config/kurtosis-cdk-node-config.toml.template
Labels: config, ci

#178 feat: remove sanity check
  sequencesender/txbuilder/banana_base.go
  sequencesender/txbuilder/banana_base_test.go
Labels: seqsender

#144 feat: epoch notifier
  agglayer/client.go
  agglayer/client_test.go
  agglayer/mock_agglayer_client.go
  agglayer/types.go
  aggsender/aggsender.go
  aggsender/aggsender_test.go
  aggsender/block_notifier_polling.go
  aggsender/block_notifier_polling_test.go
  aggsender/config.go
  aggsender/epoch_notifier_per_block.go
  aggsender/epoch_notifier_per_block_test.go
  aggsender/generic_subscriber_impl.go
  aggsender/mocks/agg_sender_storage.go
  aggsender/mocks/block_notifier.go
  aggsender/mocks/epoch_notifier.go
  aggsender/mocks/eth_client.go
  aggsender/mocks/generic_subscriber.go
  aggsender/mocks/l1_info_tree_syncer.go
  aggsender/mocks/l2_bridge_syncer.go
  aggsender/mocks/logger.go
  aggsender/mocks/mock_aggsender_storage.go
  aggsender/mocks/mock_l1infotree_syncer.go
  aggsender/mocks/mock_l2bridge_syncer.go
  aggsender/mocks/mock_logger.go
  aggsender/types/block_notifier.go
  aggsender/types/epoch_notifier.go
  aggsender/types/generic_subscriber.go
  aggsender/types/types.go
  cmd/run.go
  config/default.go
  go.mod
  go.sum
  scripts/local_config
  test/Makefile
  test/bridge-e2e.bats
  test/config/kurtosis-cdk-node-config.toml.template
  test/helpers/lxly-bridge-test.bash
Labels: enhancement, config, aggsender

#186 feat: improve aggsender logs
  agglayer/mock_agglayer_client.go
  agglayer/types.go
  aggsender/aggsender.go
  aggsender/aggsender_test.go
  aggsender/types/epoch_notifier.go
  config/default.go
  test/Makefile
Labels: aggsender

#191 fix: aggregating proofs
  aggregator/aggregator.go
  aggregator/aggregator_test.go
  aggregator/interfaces.go
  aggregator/mocks/mock_prover.go
  aggregator/prover/prover.go
  aggregator/prover/prover_test.go
  go.mod
  go.sum
Labels: aggregator

#193 fix: aggregating proofs (#191)
  aggregator/aggregator.go
  aggregator/aggregator_test.go
  aggregator/interfaces.go
  aggregator/mocks/mock_prover.go
  aggregator/prover/mocks/mock_channel.go
  aggregator/prover/prover.go
  aggregator/prover/prover_test.go
  go.mod
  go.sum
  test/Makefile
Labels: aggregator

#189 feat: sqlite aggregator
  aggregator/aggregator.go
  aggregator/aggregator_test.go
  aggregator/config.go
  aggregator/db/config.go
  aggregator/db/db.go
  aggregator/db/dbstorage/dbstorage.go
  aggregator/db/dbstorage/proof.go
  aggregator/db/dbstorage/proof_test.go
  aggregator/db/dbstorage/sequence.go
  aggregator/db/migrations.go
  aggregator/db/migrations/0001.sql
  aggregator/db/migrations/0002.sql
  aggregator/db/migrations/0003.sql
  aggregator/db/migrations/0004.sql
  aggregator/db/migrations_test.go
  aggregator/interfaces.go
  aggregator/mocks/mock_dbtx.go
  aggregator/mocks/mock_storage.go
  aggregator/mocks/mock_txer.go
  aggregator/profitabilitychecker.go
  cmd/run.go
  config/default.go
  scripts/local_config
  state/config.go
  state/interfaces.go
  state/pgstatestorage/interfaces.go
  state/pgstatestorage/pgstatestorage.go
  state/pgstatestorage/proof.go
  state/pgstatestorage/sequence.go
  state/state.go
  test/Makefile
  test/config/kurtosis-cdk-node-config.toml.template
  test/config/test.config.toml
Labels: aggregator, config

#192 feat: check agglayer certificate and use as initial if db is empty
  .github/workflows/test-e2e.yml
  agglayer/client.go
  agglayer/client_test.go
  agglayer/mock_agglayer_client.go
  agglayer/types.go
  aggsender/aggsender.go
  aggsender/aggsender_test.go
  aggsender/block_notifier_polling_test.go
  aggsender/config.go
  aggsender/db/aggsender_db_storage.go
  aggsender/db/aggsender_db_storage_test.go
  aggsender/mocks/agg_sender_storage.go
  aggsender/types/types.go
  config/default.go
  scripts/local_config
  test/bats/pp/e2e-pp.bats
  test/combinations/fork12-pessimistic.yml
  test/run-e2e.sh
  test/scripts/agglayer_certificates_monitor.sh
Labels: config, aggsender

#199 fix: cdk603 error calculating previousLocalExitRoot
  agglayer/client_test.go
  agglayer/types.go
  agglayer/types_test.go
  aggsender/aggsender.go
  aggsender/aggsender_test.go
  aggsender/db/aggsender_db_storage_test.go
  aggsender/db/migrations/0001.sql
  aggsender/mocks/logger.go
  aggsender/types/types.go
  db/meddler.go
Labels: aggsender

#203 chore: reorganize test/helpers folder
  test/bats/fep/access-list-e2e.bats
  test/bats/fep/basic-e2e.bats
  test/bats/fep/bridge-e2e.bats
  test/bats/fep/e2e.bats
  test/bats/helpers/common-setup.bash
  test/bats/helpers/common.bash
  test/bats/helpers/lxly-bridge.bash
  test/bats/pp/bridge-e2e.bats
  test/bats/pp/e2e-pp.bats
Labels: ci

#207 fix: clean proof table on start
  aggregator/aggregator.go
  aggregator/aggregator_test.go
Labels: aggregator

#200 feat(aggsender): add more data to certificate metadata
  aggsender/aggsender.go
  aggsender/aggsender_test.go
  aggsender/types/types.go
Labels: aggsender

#211 fix: clean proof table on start (#207)
  aggregator/aggregator.go
  aggregator/aggregator_test.go
Labels: aggregator, cherry-pick

#210 fix: clean proof table on start (#207)
  aggregator/aggregator.go
  aggregator/aggregator_test.go
Labels: aggregator, cherry-pick

#209 feat: report error in case agglayer returns lower height than in storage
  aggsender/aggsender.go
  aggsender/aggsender_test.go
Labels: aggsender
