Repository 0xPolygon/cdk, pull requests merged in 2025-02, with the labels that each got.

#293 fix: witness loop
  aggregator/aggregator.go
Labels: bug, aggregator

#294 fix: witness loop (#293)
  aggregator/aggregator.go
Labels: cherry-pick

#296 feat: recover aggregator on l1 sync failure
  aggregator/aggregator.go
Labels: aggregator

#301 fix: golangci-lint and bump the versions of the golangci-lint
  .github/workflows/lint.yml
  .github/workflows/test-unit.yml
  .golangci.yml
Labels: cherry-pick
